
/* Some CSS Setup - nothing to do with flexbox */
.hidden {
  display: none !important; 
}

html {
    box-sizing: border-box;
  }
  
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(270deg, #777 0%, #222 50%, #777 100%);
  color:white;
}

header {
  background-image: 
  	linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  	),
  	url('./img/ben-hershey-417746-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  height: 400px;
}

header p, a {
  color:white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background:rgba(0,0,0,0.2);
  padding:20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition:all 0.5s;
}

.top {
  display: flex;
  flex-direction: column;
}

.tagline{
	margin-top: 50px;
}

.link-no-box, .single-tab{
  padding: 0;
  width: auto;
  background: none;
  letter-spacing: normal;
  text-decoration: underline;
  color: lightgreen;
}


.single-tab{
  border: 1px white solid;
  padding: 3px;
  border-radius: 5px 5px 0 0;
  text-decoration: none;
}

.single-tab.active{
  color: crimson;
  border-bottom: none;
}


a:hover {
  background:rgba(0,0,0,0.3);
  color: crimson;
}


.no-hover-effect{
  margin: 0 10px;
}

.no-hover-effect:hover{
  background: none;
}

a.player-report {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
 }

.toggleNav {
  display: none;
}

.underline {
  text-decoration: underline;
}

.underline:hover {
  color: crimson;
}

#error, #confirmation{
  width: 100%;
  text-align: center;
  margin: 10px auto;
}

main {
  display: flex;
}

.row{
  display: flex;
  align-content: center;
}

.main--unflex{
  display: block;
}

form{
  display: flex;
  flex-direction: column;
}

.benefits ul{
  list-style: none;
}

.hero{
  max-width: 100%;
}

.story {
  display: flex;
  align-items: flex-end;
  width:100%;
  height: 150px;
  margin: 5px;
  border-radius: 5px;
  background-image: 
    linear-gradient(
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
    ),
  	url("https://images.unsplash.com/photo-1533979897165-55ab4743add8?ixlib=rb-0.3.5&s=2eac89905a87c3392bf7eea0d71a1777&auto=format&fit=crop&w=934&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
}

.card{
  height: auto;
  width: 30%;
  margin: 1% auto;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

input, textarea{
  padding:10px;
  margin: 5px auto;
  border:0;
  border-radius: 5px;
  width: 45%;
  min-width: 150px;
}

select{
  margin: 0 1%;
  height: 40px;
  width: 10%;
  max-width: 150px;
  min-width: 75px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

textarea{
  height: 200px;;
}

input[type=file]{
  margin-left: 25%;
}

input[type=submit]{
  font-weight: 600;
}

input[type=checkbox]{
  padding:0;
  margin: 0;
  border:0;
  width: 1%;
  min-width: 1px;
  border-radius: 5px;
}
.contact-form{
  width: 100%;
  height: auto;
  margin: 1% auto;
}

.projections-tool{
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Permanent Marker', cursive;
}

section, footer {
  text-align: center;
  background:rgba(0,0,0,0.2);
  padding:20px;
  margin:20px 0;
  color:white;
  font-weight: 100;
  width: 100%;
}

.sidebar{
  display: none;
  border: 1px white solid;
  border-radius: 10px;
  background:rgba(0,0,0,1);
  transition:all 0.5s;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: auto;
}

.sidebar-content{
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.dashboard__format{
  width: 100%;
}

#dashboard-player-list{
  max-height: 1000px;
  overflow: auto;
}

.player{
  list-style: none;
}

.lineup{
  width: 100%;
}

.btn {
  height: 40px;
  max-width: 150px;
  background-color: crimson;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 1%;
}

.news-slider{
  z-index: 4;
}

.news-buttons {
  z-index: 5;
}

/* Flex Container */
.flex-nav ul, .flex-nav-footer ul {
  border:1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
}

.flex-nav-footer li {
  flex:3;
}

/* Flex Item */
.flex-nav li {
  flex:3;
}

.flex-nav .social {
  flex:1;
}

@media all and (max-width:1000px) {
  .lineup{
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .lineup * {
    margin: 2% auto;
  }
  .tabs, .top-5, #dashboard-player-list{
    text-align: center;
  }
  select{
    width: 30%;
  }
  .wrapper {
    display:flex;
    flex-direction:column;
  }
  .story{
    height: 250px;
  } 
  .flex-nav ul {
    flex-wrap:wrap;
    display: none;
  }
  .flex-nav li {
    flex:1 1 100%;
  }
  .flex-nav .social {
    flex:1 1 25%;
  }
  .toggleNav {
    display: block;
  }
  .flex-nav ul.open {
    display:flex;
  }
}